<div class="post">
    <div class="post-heading">
        <div class="post-title">
            <a href="/{{p.key().id()}}">
                {{p.subject}}
            </a>
        </div>

        <div class="post-date">
            {{p.created.strftime("%b %d, %Y")}}
        </div>
    </div>

    <div class="post-content">
        {{p._render_text | safe}}
    </div>
      <br>
      <form>
          <button type="submit" formmethod="get" formaction="/{{p.key().id()}}/edit">
            Edit
          </button>
          <button type="submit" formmethod="post" formaction="/{{p.key().id()}}/like">
              Like
          </button>
          <button type="submit" formmethod="get" formaction="/{{p.key().id()}}/comment">
              Comment
          </button>
      </form>
      <br>
    </div>